<!--Main Navigation-->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/background">IAM</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto mt-lg-0">
      <li class="nav-item mx-4" mdbWavesEffect>
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item mx-4" mdbWavesEffect>
        <a class="nav-link" routerLink="/about">Read More</a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<!--Intro Section-->
<section class="view intro-2">
  <div class="full-bg-img mask rgba-gradient">
    <div class="container flex-center">
      <div class="d-flex align-items-center content-height w-100">
        <div class="row flex-center pt-5 mt-3 w-100">
          <div class="row justify-content-md-center">
            <div class="white-text">

              <a mdbBtn color="blue" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                 mdbWavesEffect routerLink="/about">Read more</a>

              <a mdbBtn color="blue"  class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                 mdbWavesEffect routerLink="/login">Sign in</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!--Main Navigation-->
