
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5 fixed-top scrolling-navbar">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/background">IAM</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto mt-lg-0">
      <li class="nav-item mx-4" mdbWavesEffect>
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item mx-4" mdbWavesEffect>
        <a class="nav-link" routerLink="/about">Read More</a>
      </li>
    </ul>
  </links>
  </mdb-navbar>


<section class="first">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light white-text animated fadeInUp">IAM</h1>
      </div>
    </div>
  </div>
</section>

<div>

  <section class="ct-u-paddingBoth100">

      <h2 class="font-weight-bold" align="center">WHAT IS IAM ?</h2><br/><br/>
      <div class="container text-justify ">
        <p class="py-2">Identity and access management (IAM) is a framework of business processes policies and technologies
        that facilitates the management of electronic or digital identities.</p>
        <p class="py-2">Identity and access management is the information security discipline that allows users access to appropriate technology resources, at the right time. It incorporates three
          major concepts: identification, authentication and authorization. Together, these three processes combine to ensure that specified users have the access they need to do their jobs,
          while unauthorized users are kept away from sensitive resources and information.</p>
        <p class="py-2">
          When a user attempts to access a system or data, he or she first makes a claim of identity, typically by entering a username into the system. The system must then verify this claim of
          identity through an authentication process. Authentication may use basic knowledge-based techniques, such as passwords, or rely upon advanced technologies, such as biometric and
          tokenbased authentication. Once a user successfully completes the authentication process, the IAM system must then verify the user’s authorization to perform the requested activity.</p>
    </div>
  </section>

  <section class="culture-section company-sections">
      <br/><br/>
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <div class="company-icons-white">
            <i class="fa fa-user" aria-hidden="true"></i>
            <p>Pure Identity</p>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="company-icons-white">
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>User Access</p>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="company-icons-white">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <p>Privacy</p>
          </div>
        </div>
      </div>

      <div class="row ct-u-paddingBoth20">
        <div class="col-xs-6 col-md-4">
          <div class="company-icons-white">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <p>Authentication</p>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="company-icons-white">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
            <p>Security</p>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="company-icons-white">
            <i class="fa fa-address-card" aria-hidden="true"></i>
            <p>Roles</p>
          </div>
        </div>
      </div>

  </section>

  <section class="ct-u-paddingBoth100">
      <div class="row">
        <div class="container text-justify">
          <h2 class="font-weight-bold" align="center">WHY IAM IS IMPORTANT ?</h2><br/><br/>
          <p class="py-2">Identity management is the task of controlling information about users on computers.
            Such information includes information that authenticates the identity of a user, and information that describes information and actions they are authorized to access and/or perform.
            It also includes the management of descriptive information about the user and how and by whom that information can be accessed and modified. Managed entities typically include users,
            hardware and network resources and even applications.</p>

          <p class="py-2">Effective IAM solutions help enterprises facilitate secure, efficient access to technology resources across these diverse systems, while delivering a number of important benefits:</p>

          <p class="font-weight-bold">Improved data security:</p>
          <p>Consolidating authentication and authorization functionality on a single platform provides IT professionals with a consistent method for managing user access.
            When a user leaves an organization, IT administrators may revoke their access in the centralized IAM solution with the confidence that this revocation will immediately take effect across
            all of the technology platforms integrated with that IAM platform.</p>

          <p  class="font-weight-bold"> Reduced security costs:</p>
          <p>Using a single IAM platform to manage all user access allows administrators to perform their work more efficiently. A security team may have some additional upfront work
            integrating new systems into an IAM platform but may then dedicate time to the management of that platform, saving time and money.</p>
          <p  class="font-weight-bold">More effective access to resources:</p>
          <p>When users receive access through a centralized platform, they benefit from the use of single sign-on (SSO) technology that limits the number of interactions they have with security
            systems and increases the likelihood that their legitimate attempts to access resources will succeed.These three benefits combine to demonstrate the importance of centralized identity
            and access management to the modern enterprise.</p>
          <p class="py-2">Learn More...</p>
        </div>
        <div class="clearfix">
        </div>
      </div>
  </section>
</div>

<main>
  <div class="container ct-u-paddingTop40 ct-u-paddingBottom100">
    <div class="row">
      <div class="col-md-12 ct-content">
        <section class="clients-home">
          <div class="container">
            <div class="text-center">
              <div class="row">
                <div class="col-md-4">
                    <img src="assets/iam2.png" alt="blog1" />
                </div>
                <div class="col-md-4">
                  <img src="assets/iam3.png" alt="blog1" />
                </div>
                <div class="col-md-4">
                  <img src="assets/iam4.jpg" alt="blog1" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
