.intro-2 {
  background: url("../../../assets/img.jpg")no-repeat center center;
  background-size: cover;
}

.view {
  height: 100vh !important;
}
.card {
  background-color: rgba(229, 228, 255, 0.2);
}
.row { margin: 0; padding: 0;overflow-x: hidden }

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.md-form label {
  color: #ffffff;
}

mat-form-field.mat-form-field {
  font-size: 16px;

}

mat-form-field{
  width: 400px;
}
.material-form-field {
  display: flex;
  flex-direction: column;
}

.material-form-field > * {
  width: 100%;
}

.login_div {
  display: grid;
  height: 80vh;
  place-items: center;
}
